body {
  color: #696969 !important;
}

.bg-primary {
  background-color: #0078AA !important;
}

.btn-primary {
  background-color: #0078AA !important;
  border: #0078AA;
}

.border-warning {
  border-color: #F2DF3A !important;
}

